---
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Footer from '../components/Footer/index.jsx';
import IconsTechUsed from "../components/IconsTechUsed.astro";

const { content } = Astro.props;

---

<html lang={content.lang || 'en'}>
	<head>
		<MainHead title={content.title} description={content.description} />
		<style lang="scss">
			.hero {
				padding: 8rem;
				display: flex;
				background-color: #eee;
				background-repeat: no-repeat;
				background-size: cover;
				min-height: 25vw;
				color: var(--purple);
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background-image:
					/* radial-gradient(ellipse at 100% 100%, #fff 50px, transparent 70%), */
				radial-gradient(at -20% -10%, #FFDF2D 0px, transparent 40%),
				radial-gradient(ellipse at 110% 60%, #5635EA77 0px, transparent 40%),
				radial-gradient(at 0% 50%, #30D3A077 0px, transparent 60%);
			}

			.title {
				margin-block: .25em;
				font-size: var(--f-u10);
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: 0.0625em;
			}
			.desc {
				font-size: 24px;
				max-width:50ch;
				text-align: center;
				margin-bottom:2em;
				color:black;
			}

			.imgs {
				background:white;
				padding:20px;
				max-width:800px;
				margin-inline:auto;
				border-radius:1em;
				box-shadow:0 4px 10px color-mix(in hsl, var(--purple) 20%, transparent 80%);
				margin-top:-10vw;
				img {
					border-radius:8px; 
				}
			}

			.content {
				font-size: var(--f-u1);
				line-height: 2.2;
			}
			.back {
				position:absolute;
				top:20px;
				left:20px;
				a{
					text-decoration: none;
				}
			}
			.tech {
				font-size:2em;
				padding:1rem 2rem;
				background:white;
				border-radius:40px;
			}
		</style>
	</head>
	<body>
		<header class="hero">
			<div class="back">
				<a href="/#projects">&larr; Back Home</a>
			</div>
			<div class="tech" >
				<IconsTechUsed tech={content.tech} />
			</div>
			<h1 class="title">{content.title}</h1>
			<p class="desc">{content.description}</p>
		</header>

		<div class="wrapper ">
			<div class="imgs">
				<img src={content.largeFtImg} alt="">
			</div>
		</div>

		<div class="wrapper wrapper__readable">
			<div class="content"><slot /></div>
		</div>
		<Footer />
	</body>
</html>
